<div class="page-container">
    <div class="container">
        <!-- Jumbotron -->
        <div class="jumbotron">
            <h1 class="text-center">Jira Printer</h1>
            <div class="text-center">
                <p>Print your Jira issues for your agile Scrum Board</p>
                <hr/>
                <p>Simply add the issues id you want to print and click 'Download issues'
                then 'Print issues' to get the PDF file to print</p>
            </div>
        </div>

        <!-- Login info -->
        <div>
            <h2>Login information</h2>
            <div class="top-row">
                <!-- Button to toggle the login information form -->
                <button class="btn" type="button" data-toggle="collapse" data-target="#jiraConfiguration" aria-expanded="false" aria-controls="jiraConfiguration">
                    Toogle Jira configuration
                </button>
            </div>
            <div class="collapse" ng-class="showJiraConfiguration" id="jiraConfiguration">
            <form novalidate class="form-horizontal card card-body">
                <div class="form-group">
                    <label for="userName" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text"
                               class="form-control"
                               ng-model="jiraConfig.username"
                               id="input-username"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" ng-model="jiraConfig.password" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="host" class="col-sm-2 control-label">Host</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="jiraConfig.host" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="port" class="col-sm-2 control-label">Port</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" ng-model="jiraConfig.port" />
                    </div>
                </div>
            </form>
            </div>
        </div>
        <hr/>

        <!-- Input issues -->
        <div>
            <h2>Input issues</h2>
            <div class="top-row">
                <input type="submit" class="btn" ng-click="downloadIssues()" value="Download issues"/>
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <input type="submit" class="btn" ng-click="generatePDF()" value="Print issues" ng-if="showPDF"/>
            </div>
            <div>
                <form ng-submit="addIssue()">
                    <table class="table table-stripped table-bordered table-condensed">
                        <thead class="thead">
                            <tr>
                                <th class="col-md-2">Issue ID</th>
                                <th class="col-md-10">Action</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                            <tr name="issueIDForm" class="form-group">
                                <td class="col-md-2">
                                    <input name="issueIDInput"
                                           class="form-control"
                                           type="text"
                                           ng-model="inputIssueID"
                                           id="input-issue-id"
                                           required/>
                                </td>
                                <td class="col-md-10">
                                    <!-- Add the current issue ID to the list of issues -->
                                    <input type="submit" class="btn btn-success btn-sm" value="Add"/>
                                </td>
                            </tr>
                            <tr ng-repeat="issue in issues.slice().reverse()">
                                <td class="col-md-2">{{issue.id}}</td>
                                <td class="col-md-10">
                                    <button type="button" class="btn btn-danger btn-sm" ng-click="removeIssue($index)">
                                        <span class="glyphicon glyphicon-minus"></span>Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <hr/>

        <!-- Printed issues -->
        <div ng-if="showPDF" id="pdf">
            <div class="issue-container" ng-repeat="issues in formattedIssues">
                <div class="issue" ng-repeat="issue in issues">
                    <div class="issue-header">
                        <img src="http://jira.cddelis.com:8080/secure/viewavatar?size=xsmall&avatarId=10311&avatarType=issuetype">
                        <span>{{issue.reference}}</span>
                        <span class="assignee">{{issue.assignee}}</span>
                    </div>
                    <br/>
                    <div class="issue-content">
                        <span class="summary">{{issue.summary}}</span>
                    </div>
                    <br/>
                    <div class="issue-footer">
                        <span class="estimated-time">{{issue.estimatedTime}}</span>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
</div>
