@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.css";

.issue-container {
  border: 1px solclass #000;
  display:flex;
  justify-content: center;
  padding: 3px;
  height: 300px;
  font-size: 24
}
.issue-container > div {
  border: 1px solclass #000;
  margin:2px;
}
.issue {
    width: 50%;
    border-left: 10px solid blue;
    border-right: 20px solid white;
    border-bottom: 20px solid white;
    position: relative;
}
.issue-header {
}
.issue-content {
    text-align: center;
    position: absolute;
    top: 20%
}
.issue-footer {
    position: absolute;
    bottom: 0%
}
.assignee {
    float: right;
}
.summary {
    font-weight: bold;
}
.estimated-time {
    float: right;
}
